.UI {
  .theme-default {
    background-color: rgb(255,255,225);
    color:#000066;
  }
  //.theme-white {
  //
  //}
  .theme-pastelorange {
    background-color:#FCD5B5;
    color:black;
  }
  .theme-pastelturquoise {
    background-color:#B7DEE8;
    color:black;
  }
  .theme-pastelpurple {
    background-color:#CCC1DA;
    color:black;
  }
  .theme-pastelgreen {
    background-color:#D7E4BD;
    color:black;
  }
  .theme-pastelblue {
    background-color:#B9CDE5;
    color:black;
  }
  .theme-blue {
    background-color:#cfe5fc;
    color:#000066;
  }
  .theme-hivis {
    background-color:#000;
    color:#00E1E8;
  }
  .theme-blackyellow {
    background-color:#000;
    color:yellow;
  }
  .theme-yellowblack {
    background-color:yellow;
    color:black;
  }
}