:local {
  .spinner {
    &:not(:empty) {
      width: 100%;
      height: 100%;
      position: fixed;
      text-align: center;
      z-index: 2048;
      background-color: rgba(0, 148, 206, .08);
    }
    &:empty {
      width: 3em;
      height: 3em;
      margin: 16px auto;
      border-radius: 50%;
      border: 6px solid blue;
      border-top: 6px solid transparent;
      box-sizing: content-box;
      animation: div-spinner 1s linear infinite;
    }
    svg {
      height: 100%;
      circle {
        width: 60px;
        height: 60px;
        margin: 16px auto;
        border-radius: 50%;
        border: none;
        box-sizing: content-box;
        animation: svg-spinner 2048ms linear infinite;
        fill: none;
        stroke: #0094ce;
        stroke-width: 4px;
      }
    }
  }
}
@keyframes :local(div-spinner) {
  0% { transform: rotate(45deg); }
  100% { transform: rotate(405deg); }
}
@keyframes :local(svg-spinner) {
  0% { stroke-dasharray: 0 0 0 204px; }
  50% { stroke-dasharray: 0 0 204px 204px; }
  100% { stroke-dasharray: 0 204px 204px 204px; }
}
