/**
 * Created by Peter on 12/18/2015
 */
//@import '../variables';
//@import '../mixins';
//@import '../common';
//@import '../uibasics';
//@import '../keyframes';

.loginPage {
  width: 100vw;
  height: 100vh;

  &:before {
    content: ' ';
    background-color: rgba(128,128,128,.2);
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left: 0;
  }

  .bg {
    position:fixed;
    top:-142px;
    right:0;
    bottom:0;
    left:0;
    z-index: 0;
    background: #0000aa;
  }

  .logoTop {
    display: flex;
    margin-bottom: 10px;

    .logoImage {
      width: 30px;
      height: 30px;
      margin: 0 10px 16px 0;
      background: url("/logo.png") no-repeat;
      background-size: contain;
    }

    .logoText {
      flex-grow: 1;
      padding: 3px 0 0 11px;

      font-family: monospace;
      font-size: 20px;
      font-weight: bold;
      color: #231f20;
      text-align: right;
    }
  }

  // Main login window
  .loginForm {
    width: 45%;
    min-width: 405px;
    max-width: 600px;
    padding: 10px;
    opacity: 0;

    animation: loginFormFadeIn ease-in-out 512ms;
    animation-fill-mode: forwards;

    position: relative;
    top: 50%;
    transform: translateY(-50%);

    // Local user login form
    form {
      height: 0;
      font-family: Arial;
      transition: height ease-in-out 512ms;

      div {
        margin-bottom: 20px;

        label {
          display: block;
          font-weight: bold;
          font-size: 11px;
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        input {
          width: 100%;
          height: auto;
          padding: 0 8px;

          font-family: Arial;
          line-height: 1.2em;
        }
      }

      #errorLabel {
        display: block;
        color: red;
        margin-bottom: 20px;

        &:empty {
          visibility: hidden;
        }
      }
    }
  }

  .loginFooter {
    border-top: 1px solid gray;
    margin: 0 -10px -10px !important;
    padding: 0 10px;

    text-align: right;

    button {
      border: none;

      font-family: Arial;
      font-size: 1em;
      font-weight: bold;
    }
  }

  @keyframes loginFormFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .loginForm {
    position: relative;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .5);
    background-color: #ffffff;
  }
}