:local(.GeneralContent){
  ul.nav>li>a.active {
    color: #ffffff;
  }
  .sidebar-nav {
    padding: 0 !important;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .065);
    & > li > a {
      display: block;
      margin: 0 0 -1px 0 !important;
      padding: 8px 14px !important;
      border: 1px solid #e5e5e5;
      .icon-chevron-right {
        float: right;
        margin-top: 1px;
        margin-right: -6px;
        opacity: .25;
      }
      .text-info {
        font-size: 9pt;
        font-weight: bold;
        margin-top: 1px;
        margin-right: 10px;
      }
      &:after {
        content: '';
        clear: both;
      }
    }
    & > li.active > a {
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
      background-color: #428bca;
      .text-info {
        color: #fff;
      }
    }
  }
  .nav:after {
    content: '';
    clear: both;
  }

}
:local(.Manage) {

}
:local(.Home) {

}
:local(.helpdesk) {

}